header {
  padding: 20px;
}

main {
  padding: 50px;
}

footer {
  padding: 20px;
}

/* login */

#inputEmail3 {
  width: 350px;
}

#inputPassword3 {
  width: 350px;
  margin-bottom: 10px;
}

#loginInput {
  margin-bottom: 10px;
}

#loginButton {
  transition-duration: 0.4s;
}

#loginButton:hover {
  background-color: rgb(219, 58, 58);
  color: white;
}


#gotoRegister {
  margin-top: 10px;
}

/* register */
#registerForm {
  margin-top: 10px;
}

#registerFormBottom {
  margin-bottom: 10px;
}

#registerButton {
  transition-duration: 0.4s;
}

#registerButton:hover {
  background-color: #04AA6D;
  color: white;
}