  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  button {
    margin-left: '10px';
    font-family: "Press Start 2P";
    border-color: rgb(136, 132, 139);
    outline-color: rgb(136, 132, 139);
    background-color: rgb(214, 214, 217);
    color: rgb(219, 58, 58);

  }

  main {
    padding: 50px;
    background-color: rgb(214, 214, 217);

  }

  main h1 {
    font-family: "Press Start 2P";
    color: rgb(219, 58, 58);
    text-decoration: none;
    font-size: 3.5vh;
    text-shadow: 1px 1px 1px black;
  }

  header {
    font-family: "Press Start 2P";
    background-color: rgb(44, 44, 44);
    width: 100%;
    border-bottom: 5px rgb(136, 132, 139) solid;
  }

  header nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  header a {
    color: rgb(219, 58, 58);
    text-decoration: none;
    font-size: 1.2vw;
    word-spacing: -12px;
  }

  header img {
    width: 13%;
  }

  footer {
    background-color: rgb(44, 44, 44);
    font-family: "Press Start 2P";
    border-top: 5px rgb(136, 132, 139) solid;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer div {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer a {
    color: rgb(219, 58, 58);
    text-decoration: none;
    font-size: 1.2vw;
    word-spacing: -12px;
  }

  footer img {
    width: 13%;
  }

  input {
    width: 350px;
    margin-bottom: 10px;
  }

  /* login */

  #loginButton {
    transition-duration: 0.4s;
    font-family: "Press Start 2P";
  }

  #loginButton:hover {
    background-color: rgb(219, 58, 58);
    color: white;
  }

  #gotoRegister {
    margin-top: 10px;
    font-size: 3.5vh;
    font-family: "Press Start 2P";
    cursor: pointer;
  }

  #gotoRegister:hover {
    color: rgb(219, 58, 58);
  }

  /* register */
  #registerForm {
    margin-top: 10px;
  }

  #registerFormBottom {
    margin-bottom: 10px;
  }

  #registerButton {
    transition-duration: 0.4s;
    font-family: "Press Start 2P";
  }

  #registerButton:hover {
    background-color: #04AA6D;
    color: white;
  }

  /*AddItems*/

  .newGameButton {
    margin-top: 10px;
    transition-duration: 0.4s;
    font-family: "Press Start 2P";
  }

  .newGameButton:hover {
    background-color: #04AA6D;
    color: white;
  }
  .addItemMessage{
    color: rgb(0, 13, 128);
      font-size: 18px;
      font-family: "Press Start 2P";
      padding-top: 10px;
  }
  /* ItemsDetails.jsx & items.jsx  */

  section {
    background-color: rgb(136, 132, 139);
    border-radius: 5px;
    width: 18%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  section img {
    width: 100%;
    height: 250px;
    padding: 10px;
  }

  section p {
    padding-left: 10px;
    color: white;
  }

  section h5 {
    font-family: "Press Start 2P";
    color: rgb(219, 58, 58);
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
    padding: 10px;
    height: 50px;
  }


  .items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .items-containerx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;

  }

  .itemsCard {
    margin-bottom: 1px;
  }

  .itemsFlex {
    display: flex;
    flex-direction: column;
  }


  .item-container {
    background-color: rgb(136, 132, 139);
    border-radius: 5px;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }

  .item-container a {
    color: rgb(219, 58, 58);
    font-family: "Press Start 2P";
    text-shadow: 1px 1px 1px black
  }

  .item-container img {
    width: 50%;
    height: 250px;
    border-radius: 5px;
  }

  .item-container h1 {
    text-shadow: 1px 1px 1px black
  }

  .itemstext {
    margin-bottom: 3px;
  }

  .items {
    margin-left: 13px;
    margin-bottom: 3px;
    color: white;
  }

  .itemsDetail {
    margin: 20px;
  }


  .details-container {
    flex-grow: 1;
  }

  .details-container button {
    font-family: "Press Start 2P";
    border-color: rgb(44, 44, 44);
    outline-color: rgb(44, 44, 44);
    background-color: rgb(214, 214, 217);
    color: rgb(219, 58, 58);
  }

  .bid-text {
    font-family: "Press Start 2P";

  }

  .current-bid-container {
    flex-shrink: 0;
    width: 40%;
  }

  .current-bid-container h6 {
    padding-top: 10px;
    text-align: center;
    font-size: 11pt;
    font-family: "Press Start 2P";
    text-shadow: 1px 1px 1px black;
  }

  .current-bid-container ul {
    font-family: "Press Start 2P";
    font-size: 8pt;
  }

  /* Add Bid */

  .addBidButton:hover {
    background-color: rgb(219, 58, 58);
    color: white;
  }